//search bar
@keyframes showSearch {
    0% {
        height: 0;
        visibility: hidden;
    }
    100% {
        height: 30px;
        visibility: visible;
    }
}

@keyframes hideSearch {
    0% {
        height: 30px;
        visibility: visible;
    }
    100% {
        height: 0;
        visibility: hidden;
    }
}